
.opensans {
    font-family: 'Open Sans', sans-serif;
}

.karla {
    font-family: 'Karla', sans-serif;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.playfair {
    font-family: 'Playfair Display', serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.montserrat-light {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

.lora {
    font-family: 'Lora', serif;
}