.section-title-left {
    margin: 3rem auto 1rem auto;
    padding: 0 2rem;
    max-width: 1000px;
}

.section-title-left h1 {
    margin: 0;
}

.item-text h2 {
    font-size: 1.5rem;
}

.item-text h4 {
    font-size: 1rem;
    // font-weight: bold;
    font-family: 'Playfair Display', serif;
    margin: 1rem 0 2rem 0;
}