.blog-hero-container {
    max-width: 1000px;
    margin: 0 auto 6rem auto;
    padding: 0 1rem;
}

.blog-hero-container .category-heading {
    padding-top: 4rem;
    margin-bottom: 4rem;
}

.blog-hero-container h1{
    font-size: 3.5em;
    margin: 1rem auto;

    @media (max-width: 1440px) {
        font-size: 3rem;
    }

    @media (max-width: 800px) {
        font-size: 2.75em;
    }

    @media (max-width: 650px) {
        font-size: 1.5em;
    }
}

.blog-title {
    font-size: 1rem;
}

.blog-title p {
    margin: 0;
}



.blog-subhead {
    font-size: 1.1em;
    padding: 0 2rem;
    max-width: 900px;
    margin: 0 auto;

    @media (max-width: 600px) {
        font-size: 0.875rem;
    }
}

.blog-subhead p {
    margin: 0;
}


.blog-hero-image {
    padding: 0 2rem;
}

.blog-hero-image img{
    max-height: 500px;
    max-width: 1000px;
    margin: 0 auto;
    display: block;

    @media (max-width: 1080px) {
        height: 400px;
        width: 80%;
    }

    @media (max-width: 800px) {
        height: 300px;
    }
}