
$color_2: #2f4f4f;
$color_3: #3d4c51;
$color_6: #191f45;
$color_29: #e68364;

$dark_1: #ecdfbd;
$dark_2: #20457c;
$dark_3: #3b3a35;
$dark_4: #fe1a27;
$dark_5: #820f15;
$dark_6: #e3874f;

$sip_1: #6eb6be;
$sip_2: #387277;
$sip_3: #373737;
$sip_4: #664C3E;
$sip_5: #D98F5E;
$sip_6: #F0D8BB;

$serve_1: #5C6662;
$serve_2: #45484B;
$serve_3: #993E1F;
$serve_4: #C0623C;
$serve_5: #D3A89C;
$serve_6: #E6D0CA;


$treat_1: #2A282B;
$treat_2: #4F392B;
$treat_3: #714B37;
$treat_4: #BF8769;
$treat_5: #DCCBB8;
$treat_6: #EAE8DB;


$seasonal_1: #E8E8EB;
$seasonal_2: #D6CFC3;
$seasonal_3: #CC9062;
$seasonal_4: #664752;
$seasonal_5: #2C3233;
$seasonal_6: #5C7999;

$indulgence_1: #BF706F;
$indulgence_2: #473834;
$indulgence_3: #232647;
$indulgence_4: #B86E46;
$indulgence_5: #59857A;
$indulgence_6: #4A2F36;
$indulgence_7: #253837;




